[plat-control="gallery-vc"] {


@font-face{
	font-family: Diner;
	src: url('../fonts/Diner/diner.ttf');
}
	
.container{
	width: 100%;
	height:300%;
	background-color: gray;
	//display: flex;
}
 
.title {
	float: left;
	margin-top: 1em;
	width: 100%;
} 

h1 {
	color: white;
	font-family: Diner;
	font-weight: bold;
	font-size: 9.8vw;
	margin-left: 8%;	
}

.thumb-box {
	margin-left: 8%;
}

.inner-thumb-box {
	width: 100%;
	float: left;
}

.thumb {
	float: left;
	margin: 0.3em;
	width: 23%;
	height: 23%;	
}

.thumb:hover{
	width: 46%;
	height: 46%;
	float: left;
	transition-delay: .2s;
	-webkit-transition-delay: .2s;
}

}
