[plat-control="footer"] {
	width: 100%;
	height: 20%;
	
	.footer{
		background-color: #bf5700;
		//position: fixed;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.foot-span{
		float: left;
		width: 100%;
		height: 100%;
	}
	
	h3{
		color: white;
		margin-left: 8%;
	}
	
			.flex-items{
			display: flex;
			align-items: center;
			flex-wrap: wrap;

				.facebook-icon{
					width: 4vw; 
					height: 4vw;
					padding-left: 2em;
				}
				.twitter-icon{
					width: 4vw;
					height: 4vw;
					padding-left: 3em;
				}
				.ebay{
					padding-left: 3em;
				}
				.linkedin-icon{
					width: 4vw;
					height: 4vw;
					padding-left: 3em;
				}
			}
}