[plat-control="home-vc"] {

	
.container{
	width: 100%;
	height:300%;
	background-color: gray;
	//display: flex;
}

.pic {
	//flex-direction: row;
	float: left;
}

h1 {
	color: white;
	font-family: Georgia;
	font-weight: bold;
	font-size: 8.6vw;
	margin-left: 8%;
	
}

.para {
	float: left;
}

p {
	color: white;
	font-family: Georgia;
	font-size: 4vw;
	margin-left: 8%;
}

.ape-pic  {
	margin: 0 10% 2em 8%;
	width: 80%;
	height: 80%;
	border: 0.8em solid red;
}



.bottom-box {
	//flex-direction: row;
	float: left;
	margin: 0.2em 0 0 8%;
}
}